body {
    background-color: rgb(189, 201, 186);
    margin: 0;
    border: 0;
    line-height: 1;
    letter-spacing: 2px;

    h1 {
        color: #ffffff;
        text-transform: uppercase;
    }

    h2 {
        color: #404B4D;
    }

    ul,
    li {
        list-style: none;
        padding-inline-start: 0;
    }
}