// typography
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Montserrat', sans-serif;
}

p, input {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    &:hover {
        color: #C16464;
    }
}

a {
    text-decoration: none;
    color: #6C8582;

    &:hover,
    &:active,
    &:focus {
        color: #ffffff;
    }
}